#app,
#start,
#chat-wrapper {
	height: 100vh;
	width: 100vw;
}

#app {
	background-color: $bg-color;
}

.hide {
	display: none !important;
}

#start {
	display: flex;
	align-items: center;

	#username-form {
		margin: 0 auto;
		text-align: center;
	}
}

#chat-wrapper {
	display: grid;
	grid-template-columns: 3fr 1fr;

	#chat {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		border-right: 1px solid #555;
		overflow-y: scroll;

		h2 {
			background-color: $heading-bg-color;
			padding: 0.5rem 0.75rem;
			color: white;
		}
	}
}
